/Euler/.vs/
/Euler/Euler/bin/
/Euler/Euler/obj/
/Euler/packages/
/Euler/UnitTests/bin/
/Euler/UnitTests/obj/
/*.pdf
/Euler/Euler/Euler.csproj.user
/Euler/Shared/obj/*
/Euler/Shared/bin/*
/Euler/Euler/*.pdf
